<div class="col-xs-10 col-xs-offset-1 text-center" style="margin-top: 4em;">
  <form action="/answer" class="form-inline">
    <div class="form-group form-group-lg">
    <label class="col-sm-2 control-label" for="question">Speak to your coach</label>
    <input class="form-control" type="text" id="query" name="query" placeholder="what time is it?">
    <input class="btn btn-default btn-lg" type="submit" value="Go on!">
    </div>
  </form>
</div>
